params {
    input        = null   // CSV samplesheet: sample_id,bam,bai
    genome_fasta = null   // Reference genome FASTA
    samtools_path = null   // Path to samtools binary
    outdir        = 'results'
}

singularity {
    enabled    = true
    autoMounts = true
}

process {
    withLabel: 'process_high' {
        cpus   = 8
        memory = 32.GB
    }
}
